<link rel="stylesheet" type="text/css" href="style.css">
 <body><header>
            <nav>
                        <h1>CREER UN COMPTE - AccordEnergies</h1>

    </nav>
    </header>
    </body>
 <form method="POST" action="">
 <div>
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" required="required">
        </div>
        <div>

        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" id="prenom" required>
        </div>

        <div>
    <label for="mail">Email :</label>
    <input
        type="email"
        id="mail"
        name="mail"
        required="required"
    />
</div>

<div>
    <label for="email-cfg">Email confirmation :</label>
    <input
        type="email"
        id="email-cfg"
        name="email-cfg"
        required="required"
    />
</div>


<div>
    <label for="password">Mot de passe : </label>
    <input
        type="password"
        id="password"
        name="password"
        required="required"
    />
</div>

<div>
    <label for="password-cfg">Confirmation du mot de passe :</label>
    <input
        type="password"
        id="password-cfg"
        name="password-cfg"
        required="required"
    />
</div>


        <input type="submit" name="send" value="Créer un compte">

</form>

<p>
    <a href="login.php">Déjà un compte ?</a>
</p>
